/*--- DEFUALTS ---*/
:root {
/* fonts */
--font-body: "Source Serif 4", serif;
--font-headline: "Fira Sans", sans-serif;

/* colors */
--text-default: #FCFCFC;
--black-color: #0d0d0d;
--dkgrey-color: #404040;
--mdgrey-color: #737373;
--grey-color: #a6a6a6;
--ltgrey-color: #d9d9d9;
--white-color: #FCFCFC;

/* sizes */

}

/*----- DEFAULTS -----*/
body {
    font-family: var(--font-body);
    color: var(--text-default);
    margin: 0;
    background-color: var(--black-color);
}

h1 {
    font-family: var(--font-headline);
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-family: var(--font-headline);
    font-size: 1.75em;
    font-weight: 500;
}

h3 {
    font-family: var(--font-headline);
    font-size: 1.25em;
    font-weight: 300;
}

h4 {
    font-family: var(--font-headline);
    font-size:1em ;
    font-weight: 100;
}

h5 {
    font-family: var(--font-body);
    font-size: 1.75em;
    font-weight: 500;
}

h6 {
    font-family: var(--font-body);
    font-size: 1.25em;
    font-weight: 300;
}

p {
    font-family: var(--font-body);
    font-size: 1.15em;
    font-weight: 200;
}
/*---- style page ----*/
#mainBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
}

#colors {
    margin: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0;
    margin: 0;
}

.card {
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(115,115,115,.1);
    
}

.card:hover {
    transform: scale(1.15);
}

.card-color {
    border-radius: 10px 10px 0px 0px;
    padding: 1rem;
    min-width: 50px;
    min-height: 65px;
}